* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

canvas { display:block; } /* To remove the scrollbars */

#question {
    width: 30%;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    display: none;
    text-align: center;

    background: #5150A2; /* fallback for old browsers */
    background: -webkit-linear-gradient(top, #5251AD , #02025D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(top, #5251AD , #02025D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-style: solid;
    border-width: 3px;
    border-color: #F2F1F2;
    border-radius: 5px;

    font-family: 'VT323', Arial, serif; font-weight: 400; 
    font-size: 30px;
    color: white;       
}

.qbutton {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    font-family: 'VT323', Arial, serif; font-weight: 400; 
    font-size: 30px;
    background-color: #F2F1F2;
    width: 20%;
    border-radius: 5px;
}

#qtitle {
    padding-bottom: 10px;
}

#pausemenu {
    width: 40%;
    height: 250px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    display: none;
    text-align: center;
    overflow: scroll;

    background: #5150A2; /* fallback for old browsers */
    background: -webkit-linear-gradient(top, #5251AD , #02025D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(top, #5251AD , #02025D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-style: solid;
    border-width: 3px;
    border-color: #F2F1F2;
    border-radius: 5px;

}

#pausetitle {
    font-family: 'VT323', Arial, serif; font-weight: 400; 
    font-size: 40px;
    color: white;
    padding-bottom: 10px;   
}

.pausebutton {
    font-family: 'VT323', Arial, serif; font-weight: 400; 
    font-size: 40px;
    background-color: #F2F1F2;
    width: 80%;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 5px;
}

#hud {
    background-color: transparent;

    position: absolute;
    top: 10px;
    bottom: 0;
    left: 15px;
    right: 0;
    
    width: 25%;
    height: 25%;
}


#healthbar {
    width: 70%;
    height: 20%;

    border-radius: 5px;
    border: 5px solid #282828; 

    background-color: #737373;
}

#hp {
    height: 100%;
    width: 50%;

    background-color: red;

    display: block;
    overflow: auto;
}

#score {
    font-family: 'VT323', Arial, serif; font-weight: 400;
    color: white; 
    font-size: 4vw;
}

#pause {
    background-color: transparent;
    height: 15%;

    position: absolute;
    right: 5px;
    top: 5px;
}

#pausebutton {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    float: right;
}

#losemenu {
    width: 40%;
    height: 130px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    display: none;
    text-align: center;
    overflow: scroll;

    background: #5150A2; /* fallback for old browsers */
    background: -webkit-linear-gradient(top, #5251AD , #02025D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(top, #5251AD , #02025D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-style: solid;
    border-width: 3px;
    border-color: #F2F1F2;
    border-radius: 5px;
}

#losetitle {
    font-family: 'VT323', Arial, serif; font-weight: 400; 
    font-size: 60px;
    color: white;
    padding-bottom: 10px; 
}